*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Segoe UI, sans-serif;
  scroll-behavior:smooth;
}

/* DARK BACKGROUND */
body{
  color:#fff;
  background:linear-gradient(135deg,#020617,#0f172a,#1e293b);
}


/* particles */
#particles-js{
  position:fixed;
  width:100%;
  height:100%;
  z-index:-1;
  opacity:.25;
}


/* NAV */
.nav{
  display:flex;
  justify-content:space-between;
  padding:20px 40px;
  background:rgba(255,255,255,.05);
  backdrop-filter:blur(10px);
}

.nav a{
  color:white;
  text-decoration:none;
  margin-left:15px;
}


/* HERO */
.hero{
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  padding:90px 20px;
}

.hero-card{
  max-width:850px;
  padding:45px;
  border-radius:20px;
  text-align:center;

  background:rgba(255,255,255,.08);
  backdrop-filter:blur(20px);
  box-shadow:0 0 35px rgba(56,189,248,.25);

  display:flex;
  flex-direction:column;
  gap:18px;
}


/* photo */
.profile{
  width:150px;
  border-radius:50%;
  margin:auto;
  border:3px solid #38bdf8;
  box-shadow:0 0 25px #38bdf8;
}

h1 span{
  color:#38bdf8;
}

.typing{
  color:#67e8f9;
  min-height:30px;
}


/* buttons */
.hero-buttons{
  display:flex;
  gap:12px;
  justify-content:center;
  flex-wrap:wrap;
}

.btn{
  padding:10px 20px;
  border-radius:20px;
  background:#38bdf8;
  color:black;
  text-decoration:none;
}

.btn.outline{
  background:transparent;
  border:2px solid #38bdf8;
  color:#38bdf8;
}


/* STATS FIXED */
.stats{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(120px,1fr));
  gap:20px;
}

.stat h2{
  color:#38bdf8;
}


/* CARDS */
.card{
  max-width:900px;
  margin:60px auto;
  padding:30px;
  border-radius:15px;
  background:rgba(255,255,255,.07);
}


/* SKILLS */
.skills span{
  display:inline-block;
  padding:8px 14px;
  background:#1e293b;
  border-radius:20px;
  margin:6px;
}


/* PROJECT GRID */
.grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
  gap:15px;
}

.project{
  background:#1e293b;
  padding:20px;
  border-radius:10px;
}


/* reveal */
.reveal{
  opacity:0;
  transform:translateY(40px);
  transition:1s;
}
.reveal.show{
  opacity:1;
  transform:translateY(0);
}


footer{
  text-align:center;
  padding:20px;
}
